<!--Declaração que a view vai ter a disposição o objeto Seller-->
<!-- #1 Compilador reconhece o atributo Name-->

@model SalesWebMvc.Models.Seller

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<!--Criando um HTML basico para a VIEW-->

<h4>Seller</h4>
<hr />
<div class="row">
    <!--Class "row" do bootstrap garante que o div ocupe a largura da tela-->

    <div class="col-md-4">
        <!--class="col-md-4" cria um formulario que ocupa 1/3 da tela-->

        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label> <!--#1 Compilador reconhece o atributo Name-->
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label> <!--#1 Compilador reconhece o atributo Email-->
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label> <!--#1 Compilador reconhece o atributo BithDate-->
                <input asp-for="BirthDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BaseSalary" class="control-label"></label> <!--#1 Compilador reconhece o atributo BaseSalary-->
                <input asp-for="BaseSalary " class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="tbn btn-default" />
            </div>
        </form>

    </div>

</div>