
@{   
    // Páginas Razor

    ViewData["Title"] = "About"; // Dentro desse bloco roda codigo C#
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["Email"]</p>